figure.grid {
	display: inline-grid;
	gap: 5px;
}

.content figcaption p {
	word-break: break-word; 
	max-width: 20ch;
	text-align: center;
	font-style: italic;
	font-size: 1.6rem;
	margin: 0;
	display: inline-block;
}